asgiref==3.2.10
autopep8==1.5.4
bcrypt==3.2.0
cffi==1.14.2
Django==3.1.1
django-cors-headers==3.5.0
django-filter==2.0
django-phonenumber-field==5.0.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
Markdown==3.2.2
mysqlclient==2.0.1
phonenumbers==8.12.9
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
